.devolutions-contenedor {
    width: 100vw;
    padding-top: 20px;
    position: absolute;
    top:32vh;
    left: 0vw;
    z-index: -1;
    transition: all 0.6s;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.active {
    width: 80vw;
    left: 20vw;
}

.box-uno {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    border-right: 0.5px solid rgb(173, 169, 169);
    justify-content: center;

}

.titulo h4 {
    font-size: 23px;
    font-weight: 400;
}

.box-dos img {
    width: 80%;
}

.box-dos {
    width: 45%;
    display: flex;
    justify-content: center;
}

.formulario-devolucion {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.formulario-devolucion form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.formulario-devolucion form input {
    width: 100%;
    padding: 10px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid #8758FF;
    margin-bottom: 20px;
}

.btn-devolucion {
    padding: 15px 30px;
    background-color: #8758FF;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
}

@media screen and (max-width: 764px) {
    
    .active {
        width: 100vw;
        left: 0;
    }

    .devolutions-contenedor, .active {
        flex-wrap: wrap;
    } 
    .box-uno {
        width: 100%;
        margin-bottom: 40px;
    }
    .box-dos {
        width: 100%;
    }
}