<div class="contenedor-welcome" id="contenedor-welcome">
    <div class="titulo-welcome">
        <h4>Bienvenido</h4>
    </div>
    <div class="parrafo-welcome">
        <p>
            <img src="../../assets/img/libro.jpg" alt="libro">
            Sistema de Gestión para Biblioteca Pública. Controle y administre de forma óptima y fácil<br> el
            flujo de préstamos y devoluciones de Libros.
            <br>
            <br>
            Esta herramienta le permitirá llevar un control completo y detallado de su Biblioteca,<br>tendrá
            acceso a herramientas especiales para tareas específicas como lo son: <br> <br>
            
        </p>
        <div class="lista-welcome">
            <ul>
                <li>Préstamos</li>
                <li>Devoluciones</li>
                <li>Registro de Usuarios y Libros Nuevos</li>
                <li>Edición de Usuarios y Libros Existentes</li>
                <li>Eliminar todo tipo de Registros</li>
                <li>Sección de Reportes de acciones en el sistema</li>
            </ul>
        </div>
    </div>
    
</div>