<div class="contenedor-reportes" id="contenedor-reportes">
    <div class="titulo-reportes">
        <h4>Reportes</h4>
    </div>
    <div class="tabla-reportes">
        <table>
            <thead>
                <tr>
                    <th class="dato-documento">Documento Usuario</th>
                    <th class="dato-libro">Book ID</th>
                    <th class="dato-salida">Fecha de Salida</th>
                    <th class="dato-entrega">Fecha de Entrega</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <div class="contenedor-boton">
        <button class="actualizar">Actualizar</button>
    </div>
</div>