<div class="home-contenedor active" id="home">
    <div class="contenedor-titulo">
        <h2>Bienvenido</h2>
    </div>
    <div class="contenedor-informacion">
        <img src="../../assets/img/libro.jpg" alt="libro">
        <p>Sistema de Gestión para Biblioteca Pública. Controle y administre de forma óptima y fácil<br> el
            flujo de préstamos y devoluciones de Libros.
            <br>
            <br>
            Esta herramienta le permitirá llevar un control completo y detallado de su Biblioteca,<br>tendrá
            acceso a herramientas especiales para tareas específicas como lo son: <br> <br>
        </p>
        <ul>
            <li>Préstamos</li>
            <li>Devoluciones</li>
            <li>Registro de Usuarios y Libros Nuevos</li>
            <li>Edición de Usuarios y Libros Existentes</li>
            <li>Eliminar todo tipo de Registros</li>
            <li>Sección de Reportes de acciones en el sistema</li>
        </ul>
    </div>
</div>