.sidebar {
    max-width: 5%;
    height: 100vh;
    background-color: #1C6758;
    transition: all 0.6s;
}

.sidebar-check {
    max-width: 20%;
    transition: all 0.6s;
}

.sidebar-contenedor {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.btn-responsive-sidebar {
    margin-top: 20px;
}

.btn-app {
    color: #fff;
    background-color: #1C6758;
    font-size: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
    opacity: 0.8;
}

.btn-menu:hover {
    opacity: 1;
}

.titulo-app, .titulo-check {
    width: 75%;
    text-align: center;
    padding: 15px;
    margin: 20px 0px;
    color: #fff;
    border-bottom: #fff 2px solid;
}

.titulo-app {
    transform: translateX(-500%);
}

.titulo-check {
    transform: translateX(0%);
}

.lista-botones, .lista-botones-check {
    list-style: none;
    margin-top: 20px;
    width: 100%;
}

.lista-botones {
    transform: translateX(-500%);
}

.lista-botones-check {
    transform: translateX(0%);
}

.li-btn .btn i{
    margin-right: 10px;
}

.btn {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.6s;
}

.btn:hover {
    background-color: #3D8361;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        max-width: 10%;
    }
    .sidebar-check {
        max-width: 35%;
        z-index: 1;
        transition: all 0.8s;
    }
}

@media screen and (max-width: 700px) {
    .sidebar-check {
        max-width: 50%;
    }
}