<div class="contenedor-usuarios" id="contenedor-usuarios">
    <div class="formulario-busqueda-usuario">
        <form action="/" class="busqueda-usuario">
            <label for="busqueda-nombre">Usuarios</label> <br>
            <input type="text" id="busqueda-nombre" name="busqueda-nombre" placeholder="Ingrese el nombre de usuario a buscar">
            <button class="buscar-usuario">Buscar</button>
        </form>
    </div>
    <div class="tabla-usuarios">
        <table>
            <thead>
                <tr>
                    <th class="dato-documento">Documento</th>
                    <th class="dato-nombre">Nombre</th>
                    <th class="dato-apellido">Apellido</th>
                    <th class="dato-domicilio">Domicilio</th>
                    <th class="dato-telefono">Teléfono</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <div class="contenedor-botones">
        <a [routerLink]="['up']"><button class="nuevo-usuario">Nuevo</button></a>
        <button class="editar-usuario">Editar</button>
        <button class="borrar-usuario">Borrar</button>
    </div>
</div>