<div class="nav-contenedor active" id="sidebar">
    <div class="toggle-btn">
        <span><i class="fa-solid fa-bars"></i></span>
    </div>
    <div class="titulo-contenedor">
        <h1 class="titulo-app">iLib</h1>
    </div>
    <nav class="navigation">
        <a [routerLink]="['inicio']" class="item-nav"><i class="fa-solid fa-house fa-fw"></i> Principal</a>
        <a [routerLink]="['prestamos']" class="item-nav"><i class="fa-solid fa-calendar-plus fa-fw"></i> Prestámos</a>
        <a [routerLink]="['devolucion']" class="item-nav"><i class="fa-solid fa-calendar-check fa-fw"></i> Devoluciones</a>
        <a [routerLink]="['usuarios']" class="item-nav"><i class="fa-solid fa-users fa-fw"></i> Usuarios</a>
        <a [routerLink]="['libros']" class="item-nav"><i class="fa-solid fa-book fa-fw"></i> Libros</a>
        <a [routerLink]="['reportes']" class="item-nav"><i class="fa-solid fa-file-invoice fa-fw"></i> Reportes</a>
    </nav>
</div>