.contenedor-header {
    position: fixed;
    top: 0;
    left: 5%;
    width: 95%;
    transition: all 0.6s;
}

.contenedor-header-check {
    position: fixed;
    top: 0;
    width: 80%;
    background-color: aqua;
    left: 20%;
    transition: all 0.6s;
}

.contenedor-slogan {
    width: 100%;
    background-color: #fff;
    padding: 30px 10px 10px;
}

.contenedor-fecha {
    color: #fff;
    height: 23vh;
    background-color: #3D8361;
    padding: 35px 0px 15px 40px;
    font-weight: 100;
}

.fecha {
    font-size: 25px;
    font-weight: 100;
}

@media screen and (max-width: 1000px) {
    .contenedor-header {
        left: 10%;
    }
    .contenedor-header-check {
        z-index: -1;
    }
}