<div class="contenedor-registro" id="contenedor-registro">
    <div class="contenedor-form">
        <h4>Registrar nuevo Usuario</h4>
        <form action="/">
            <label for="nombre-usuario">Nombre</label>
            <input type="text" id="nombre-usuario" name="nombre-usuario" placeholder="Ingrese el nombre" required>
            <label for="apellido-usuario">Apellido/s</label>
            <input type="text" id="apellido-usuario" name="apellido-usuario" placeholder="Ingrese el/los apellido/s" required>
            <label for="documento-usuario">Documento</label>
            <input type="number" id="documento-usuario" name="documento-usuario" placeholder="Ingrese el número de documento" required>
            <label for="domicilio-usuario">Domicilio</label>
            <input type="text" id="domicilio-usuario" name="domicilio-usuario" placeholder="Ingrese el domicilio" required>
            <label for="telefono-usuario">Telefono</label>
            <input type="text" id="telefono-usuario" name="telefono-usuario" placeholder="Ingrese un número telefónico" required>
            <button class="btn-registro">Registrar</button>
        </form>
    </div>
</div>